<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% block title %}
<title>Top Page - groupy</title>
{% endblock title %}
</head>
<body>
<div id="navigation">
<a href="{{ url_for('groupy/index') }}">{{ _('Top') }}</a>
&nbsp;|&nbsp;
<a href="{{ url_for('groupy/add_group') }}">{{ _('Add a new group') }}</a>
&nbsp;|&nbsp;
{% if request.user.is_anonymous() %}
<a href="{{ create_login_url() }}">login</a>
{% else %}
Hello {{ request.user }}! <a href="{{ create_logout_url() }}">logout</a>
{% endif %}
</div>
{% block main %}
{% endblock main %}
</body>
</html>
